{% extends "base_site.html" %}


{% block content %}
<h1>Предлагаем Вам записаться на кружок в нашей школе</h1>
<div class="table_cont">
<table>
  <tr>
	<th>Вид деятельности</th>
	<th>Название</th>
	<th>Возраст обучающегося</th>
	<th>Стоимость</th>
	<th>Записаться</th>
  </tr>
	{% for item, code in zip(items, codes) %}
		<tr>
			<td>{{ item['name'] }}</td>
			<td>{{ item['speciality'] }}</td>
			<td>{{ item['age'] }}</td>
			<td>{{ item['cost'] }}</td>
			<td><img src="{{ url_for('static', filename=code) }}" width="150"></td>
		</tr>
	{% endfor %}
</table>
</div>
{% endblock content %}
